@model JAAReceipts.WebApp.ViewModel.BatchModel
@{
    ViewBag.Title = "Generate Batch";
}


<head>
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


</head>


<h2>Generate Batch</h2>

<br />


@*<div class="row">

        <div class="bootstrap-iso" >
            <div class="form-group">
                @Html.Label("Start Date")
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", @id = "txtstartDate", @name = "date" ,@placeholder = "MM/DD/YYY" } })
            </div>
        </div>

        <div class="bootstrap-iso" >
            <div class="form-group">
                @Html.Label("End Date")
                @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", @id = "txtendDate" , @name = "date" , @placeholder = "MM/DD/YYY" } })
            </div>
        </div>

    </div>*@1w  s


@*<div class="row">

        <div class="col-md-10"   data-provide="datepicker">
            <div class="form-group">
                @Html.Label("Start Date")
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", @id = "txtstartDate" } })
            </div>
        </div>

        <div class="col-md-10" data-provide="datepicker">
            <div class="form-group">
                @Html.Label("End Date")
                @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", @id = "txtendDate" } })
            </div>
        </div>

    </div>*@



<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">


                <div class="col-md-10">
                    <div class="form-group">
                        <label class="control-label" for="date">Start Date</label>
                        <input class="form-control" id="txtstartDate" name="date" placeholder="MM/DD/YYY" type="text" autocomplete="off" />
                    </div>


                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" onclick="GenerateBatch()" />
                            </div>
                        </div>*@

                </div>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>


            <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="date">End Date</label>
                        <input class="form-control" id="txtendDate" name="date" placeholder="MM/DD/YYY" type="text"  autocomplete="off"/>
                    </div>
                </div>

        </div>


    </div>


</div>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-success" onclick="GenerateBatch()" />
    </div>
</div>


<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })




    $(document).ready(function () {
        var date_input = $('input[name="date2"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>

