
@model IEnumerable<JAAReceipts.WebApp.ViewModel.ReceiptViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.ItemsOnReceipt)*@
            Receipt Description
        </th>

        <th>
            @* @Html.DisplayNameFor(model => model.Receipt.PaymentType)*@
            Payment Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receipt.ReceivedFrom)*@
            Received From
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Receipt.AdditionalInfo)*@
            Additional Information
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receipt.BankAccountNumber)*@
            Bank Account Number
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Receipt.IncomeAccountNumber)*@
            Income Account Number
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receipt.LineOfBusinessAccountNumber)*@
            Line Of Business Account Number
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Receipt.DocumentType.Description)*@
            Document Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receipt.ReceiptCode)*@
            Receipt Code
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Receipt.Date)*@
            Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receipt.TotalAmount)*@
            Total Amount
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receipt.TotalAmount)*@
            Currency
        </th>
        @*<th></th>*@
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ItemsOnReceipt)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.PaymentType.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.ReceivedFrom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.AdditionalInfo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.BankAccountNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.IncomeAccountNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.LineOfBusinessAccountNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.DocumentType.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.ReceiptCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.TotalAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receipt.Currency.CurrencyCode)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Receipt.ReceiptID }) |
        @Html.ActionLink("Details", "Details", new { id = item.Receipt.ReceiptID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Receipt.ReceiptID })
    </td>
</tr>
    }

</table>

